.product-container {
    margin-top: 10px;
    height: 150px;
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.product-img {
    width: 150px;
    height: 150px;
}

    .product-img > img {
        width: 100%;
        height: 100%;
    }

.product-details-container {
    padding: 20px 0px 0px 50px;
    flex: 1;
}

.product-quantity-container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.remove-item {
    transform: translate(-20px, -20px);
    background: rgba(0, 0, 0, 0);
    border: 0px;
    cursor: pointer;
}

.buttons {
    height: 50px;
    width: 100px;
    /* color: white;
    background: black; */
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
    
}
